<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274519606785-tkcd4bpfeml1lsc71kidnsm6plgn6mj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274519606785-tkcd4bpfeml1lsc71kidnsm6plgn6mj0</string>
	<key>API_KEY</key>
	<string>AIzaSyByVB6ByS4FbH4CWJxEghfDzD67Hk2iB7c</string>
	<key>GCM_SENDER_ID</key>
	<string>274519606785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dinakhaled1999-outlook.com.Crew</string>
	<key>PROJECT_ID</key>
	<string>hungerbuddy-b904d</string>
	<key>STORAGE_BUCKET</key>
	<string>hungerbuddy-b904d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274519606785:ios:ea949a81f115803b0ae200</string>
</dict>
</plist>